NET "an_out<0>"  LOC = "D14" | IOSTANDARD = LVCMOS33 ;
NET "an_out<1>"  LOC = "G14" | IOSTANDARD = LVCMOS33 ;
NET "an_out<2>"  LOC = "F14" | IOSTANDARD = LVCMOS33 ;
NET "an_out<3>"  LOC = "E13" | IOSTANDARD = LVCMOS33 ;
#NET "button_in<0>"  LOC = "M13" | IOSTANDARD = LVCMOS33 ;
#NET "button_in<1>"  LOC = "M14" | IOSTANDARD = LVCMOS33 ;
#NET "button_in<2>"  LOC = "L13" | IOSTANDARD = LVCMOS33 ;
NET "button_in<3>"  LOC = "L14" | IOSTANDARD = LVCMOS33 ;
NET "clk_in"  LOC = "T9" | IOSTANDARD = LVCMOS33 ;
NET "led_out<0>"  LOC = "K12" | IOSTANDARD = LVCMOS33 ;
NET "led_out<1>"  LOC = "P14" | IOSTANDARD = LVCMOS33 ;
NET "led_out<2>"  LOC = "L12" | IOSTANDARD = LVCMOS33 ;
NET "led_out<3>"  LOC = "N14" | IOSTANDARD = LVCMOS33 ;
NET "led_out<4>"  LOC = "P13" | IOSTANDARD = LVCMOS33 ;
NET "led_out<5>"  LOC = "N12" | IOSTANDARD = LVCMOS33 ;
NET "led_out<6>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ;
NET "led_out<7>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
NET "rxd_in"  LOC = "T13" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<0>"  LOC = "E14" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<1>"  LOC = "G13" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<2>"  LOC = "N15" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<3>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<4>"  LOC = "R16" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<5>"  LOC = "F13" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<6>"  LOC = "N16" | IOSTANDARD = LVCMOS33 ;
NET "seg_out<7>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<0>"  LOC = "F12" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<1>"  LOC = "G12" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<2>"  LOC = "H14" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<3>"  LOC = "H13" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<4>"  LOC = "J14" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<5>"  LOC = "J13" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<6>"  LOC = "K14" | IOSTANDARD = LVCMOS33 ;
#NET "switches_in<7>"  LOC = "K13" | IOSTANDARD = LVCMOS33 ;
NET "txd_out"  LOC = "R13" | IOSTANDARD = LVCMOS33 ;


NET "ad<0>"  LOC = "M6"  | IOSTANDARD = LVCMOS33 ;
NET "ad<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 ;
NET "ad<2>"  LOC = "D15" | IOSTANDARD = LVCMOS33 ;
NET "ad<3>"  LOC = "E15" | IOSTANDARD = LVCMOS33 ;
NET "ad<4>"  LOC = "F15" | IOSTANDARD = LVCMOS33 ;
NET "ad<5>"  LOC = "G16" | IOSTANDARD = LVCMOS33 ;
NET "ad<6>"  LOC = "H16" | IOSTANDARD = LVCMOS33 ;
NET "ad<7>"  LOC = "K16" | IOSTANDARD = LVCMOS33 ;
NET "ale"    LOC = "T7"  | IOSTANDARD = LVCMOS33 ;
NET "rdn"    LOC = "P10" | IOSTANDARD = LVCMOS33 ;
NET "wrn"    LOC = "R10" | IOSTANDARD = LVCMOS33 ;
NET "irqn"   LOC = "N11" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "csn"    LOC = "R7"  | IOSTANDARD = LVCMOS33 | PULLDOWN;
